.card{

	border: 1px solid;

	margin-top: 10px;

}

h2{

	text-align: center;

}

h3{

	text-align: center;

}


.btnn{
	margin-top:25px; 
}
.titulo{
	text-align:  center;
}
.img{

  background-image: url("../banner.jpg"); 
 
  height: 500px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 


}
/*

css teste 

*/



